.navigationItem {
  position: relative;
  display: inline-block;
}

.navigationItem:after {
  content: '';
  height: 100%;
  width: 100%;
  padding: 4px;
  position: absolute;
  bottom: -12px;
  left: -4px;
  z-index: -1;
  background-color: #2b1800;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.logoutItem {
  display: flex;
  justify-content: center;
  align-items: center;
}

.userEmail {
  color: var(--dark-color);
  margin-right: 0.5rem;
  font-size: 14px;
  padding: 10px;
  border-radius: 4px;
  background-color: var(--light-color);
}
