:root {
  --background: #f7f7f7;
  --foreground: #171717;
  --dark-color: #000;
  --light-color: #fff;
  --primary-color: #959595;
  --secondary-color: #1849a9;
  --accent-1: #ac0b29;
  --accent-2: #ccc;
  --mainFontFamily: var(--font-roboto), sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--mainFontFamily);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  color: var(--dark-color);
  background-color: #f8f9fa;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
