.main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.container {
  width: 90%;
  max-width: 1280px;
  margin: 0px auto;
  padding: 0 16px 16px;
}

.title {
  font-size: 36px;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 60px;
  text-align: center;
}

.description {
  font-size: 18px;
  color: #444444;
  line-height: 28px;
  margin-bottom: 16px;
}

.center {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}
